@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');

//Colors
$primary-color: #024959;
$secondary-color: #3CA6A6;
$white-color: #F2E3D5;
$dark-color: #4d4d4d;
$accent-color: #F25D50;
$hover-color: #F29325;
$feature-color: #C4E7E1;
$tertiary-color: #A3C9BA;
$darkest-color: #012E40;

//Transition and animation
$transition-time: 0.3s;
$animation-time: 2s;

//Widths
$sidebar-width: 90%;
$sidebar-tablet-width: 30%;
$sidebar-desktop-width: 30%;

//Fonts
$primary-font: 'Playfair Display', serif;
$secondary-font: 'Mulish', sans-serif;